<div class="card">
    <div class="card-header">Product Table</div>
    <div class="card-body">
        <div class="alert alert-info" *ngIf="products.length===0">
            No Products
        </div>
        <table class="table table-striped" *ngIf="products.length!==0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td><a [routerLink]="[product.id]">{{product.name}}</a></td>
                    <td>{{product.price|currency:'INR'}}</td>
                    <td><a [routerLink]="[product.id,'edit']"><i class="fa fa-edit"></i></a></td>
                    <td><a href (click)="handleDelete(product.id,$event)"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <router-outlet></router-outlet>
    </div>
</div>