<div class="container">
  <div class="display-1">Angular Mini Bytes</div>
  <hr />

  <!--   

  <app-box>
    <div class="header" #contentHeader>Products</div>
    <div class="body">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </div>
    <div class="footer">deloitte@2023</div>
  </app-box>

  <app-box>
    <div class="header" #contentHeader>Todos</div>
    <div class="body">
      <app-todo></app-todo>
      <app-todo></app-todo>
    </div>
  </app-box> 

  -->

  <app-search-form></app-search-form>


</div>