<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Customer Form</div>
            <div class="card-body">
                <form (submit)="handleSubmit($event)" #customerForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="firstName">First Name</label>
                        <input required [(ngModel)]="firstName" type="text" class="form-control" name="firstName"
                            name="firstName">
                        <div class="text-danger">
                            <span
                                *ngIf="customerForm.controls['firstName'].invalid && customerForm.controls['firstName'].touched">
                                First Name is required
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="firstName">Last Name</label>
                        <input required [(ngModel)]="lastName" type="text" class="form-control" name="lastName"
                            name="lastName">
                    </div>
                    <br />
                    <button (click)="handleClear()" type="button" class="btn btn-warning">Clear</button>
                    &nbsp;
                    <button (click)="handleLoad()" type="button" class="btn btn-dark">Load</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">submit</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <hr />
        Form Group
        <hr />
        <pre>
            is Pristine : {{customerForm.pristine}}
            is Dirty : {{customerForm.dirty}}
            is untouched : {{customerForm.untouched}}
            is touched : {{customerForm.touched}}
            is valid : {{customerForm.valid}}
            is invalid : {{customerForm.invalid}}
        </pre>
        <hr />
        Form Controle.g lastName
        <hr />
        <pre>
            is Pristine : {{customerForm.controls['lastName'].pristine}}
            is Dirty : {{customerForm.controls['lastName'].dirty}}
            is untouched : {{customerForm.controls['lastName'].untouched}}
            is touched : {{customerForm.controls['lastName'].touched}}
            is valid : {{customerForm.controls['lastName'].valid}}
            is invalid : {{customerForm.controls['lastName'].invalid}}
        </pre>
        <hr />
        Form Model
        <hr />
        {{customerForm.value|json}}
    </div>
</div>